/dev/icx_carddet            0660   system       system
/dev/block/mmcblk0p12       0660   system       system
/dev/block/mmcblk1*         0660   system       system
/dev/block/mmcblk2*         0660   system       system
/dev/block/mmcblk0p8        0660   system       system
/dev/block/mmcblk0p9        0660   system       system
/dev/block/mmcblk0p14       0660   system       system
/dev/block/mtdblock20       0660   system       system
/dev/block/mtdblock21       0660   system       system
/dev/block/mtdblock26       0660   system       system
/dev/block/sd*              0660   system       system
/dev/input/*                0660   system       system
/dev/graphics/fb*           0660   system       system
/dev/usbconn                0660   system       system
/dev/icx_nvp/*              0660   system       system
/dev/icx_key                0660   system       system
/dev/icx_cradle             0660   system       system
/dev/icx_usbscsi            0660   system       system
/dev/ttyMT1                 0660   system       system
/dev/mali                   0660   system       system
/dev/rtc*                   0660   system       system
/dev/asrc*                  0660   system       system
/dev/hdmitx                 0660   system       system
/dev/vsw                    0660   system       system
/dev/snd                    0660   system       system
/dev/video0                 0660   system       system
/dev/ebc                    0660   system       system
/dev/i2c-0                  0660   system       system
/dev/i2c-1                  0660   system       system
/dev/i2c-2                  0660   system       system
/dev/rcs730                 0660   system       system
/dev/cxd224x-i2c            0660   system       system
/dev/audrtc                 0660   system       system
/dev/fuse                   0666   system       system
/dev/radio*                 0666   system       system
/dev/audacc                 0660   system       system
